.home-section{
    background-image: url("/img/home/mob-back.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-logo{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk-back.png");
height: 823px;
}
.home-logo{
    margin-top: 95px;
    margin-left: 0;
    margin-right: auto;
}   
}
/* About the Game */
.about-container{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.about-wrapper p{
    width: 335px;
}
@media only screen and (min-width: 1440px) {
.about-container {
    padding-top: 150px;
        padding-left: 188px;
            padding-right: 188px;
}
 .about-wrapper{
flex-direction: row-reverse;
justify-content: center;
}
.about-wrapper p{
    width: 522px;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top 100px center;
    background-size: 100% 214px;
}
.features-list{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.features-item{
border-radius: 12px;
    padding:18px 16px;
    width: 335px;
    height: auto;
    background-image: url("/img/features/mob-one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: start;
    gap: 6px;
}
.features-item-wrapper{
width: 264px;
}
.features-item-title{
font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    color: #6cb1d0;
    margin-bottom: 12px;
}
.f2{
 background-image: url("/img/features/mob-two.png");
}
.f3{
background-image: url("/img/features/mob-three.png");
}
.f4{
background-image: url("/img/features/mob-four.png");
}
@media only screen and (min-width: 1440px) {
.features-container{
    padding-top: 84px;
}
.features-section{
    background-image: url("/img/features/desk.png");
    background-repeat: no-repeat;
    background-position: top 0 center;
    background-size: cover;
    height: 674px;
}
.features-list{
    margin-top: 0;
flex-wrap: wrap;
width: 840px;
margin-left: auto;
margin-right: auto;
height: 310px;
gap: 22px;
column-gap: 20px;
}
.features-item{
padding: 16px;
    width: 412px;
    height: 142px;
    background-image: url("/img/features/desk-one.png");

}
.features-item-wrapper{
width: 346px;
}
.f2{
 background-image: url("/img/features/desk-two.png");
height: 118px;
}
.f3{
background-image: url("/img/features/desk-two.png");
height: 118px;
}
.f4{
background-image: url("/img/features/desk-one.png");
height: 142px;
}    
}
/* Advantages */
.advantages-section{
    background-image: url("/img/advantages/mob.png");
    background-repeat: no-repeat;
    background-position: top 100px center;
    background-size: 100% 183px;
}
.advantages-list{
    margin-top: 227px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.advantages-item{
    background-image: url("/img/advantages/one-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 335px 84px;
    border-radius: 12px;
        padding: 16px 8px;
        width: 335px;
        height: 84px;
font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    color: #e8e7e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a6{
background-size: 335px 110px;
height: 110px;
}
@media only screen and (min-width: 1440px) {
.advantages-section{
    background-image: url("/img/advantages/desk.png");
    background-repeat: no-repeat;
    background-position: top 150px center;
    background-size: 100% 738px;
    height: 888px;
}
.advantages-list{
    margin-top: 96px;
    gap: 55px;
    column-gap: 180px;
    flex-wrap: wrap;
    height: 313px;
}
.advantages-item{
    background-image: url("/img/advantages/desk-one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 294px 58px;
width: 294px;
    height: 58px;
}
.a1{
margin-left: 108px;    
}
.a2{
    width: 464px;
background-size: 464px 58px;
}
.a3 {
width: 584px;
background-size: 584px 58px;
}
.a4 {
width: 380px;
margin-left: 20px;
background-size: 380px 58px;
}
.a5 {
width: 530px;
background-size: 530px 58px;
}
.a6{
background-size: 530px 88px;
width: 530px;
height: 84px;
}  
.mob{
    display: none;
}  
}
/* FAQ */
.faq-list{
display: flex;
flex-direction: column;
align-items: center;
gap: 18px;
}
.faq-item{
display: flex;
    flex-direction: column;
align-items: start;
    gap: 1px;
}
.faq-item-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
}
.faq-item-title{
border: 1px solid #6cb1d0;
    border-radius: 40px;
    padding: 12px 18px;
    width: 281px;
    height: auto;
    font-weight: 700;
}
.faq-item-text{
border: 1px solid #6cb1d0;
    border-radius: 40px;
    padding: 12px 18px;
    width: 335px;
    height: 72px;
}
@media only screen and (min-width: 1440px) {
.faq-list{
gap: 22px;
}
.faq-item{
align-items: end;
}
.faq-item-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
}
.faq-item-title{
width: 576px;
    height: 48px;
}
.faq-item-text{
width: 576px;
    height: 48px;
}    
}
/* Contact */
.contact-container{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-link{
    margin-top: 16px;
    font-family: "DM Serif Display", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        color: #6cb1d0;
}
@media only screen and (min-width: 1440px) {
.contact-container {
    padding-top: 0;
        padding-bottom: 150px;
    }
}